body {
  /* overflow: hidden; */
}

.container {
  max-width: 100%;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #fff;
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.announcements tr {
    cursor: pointer;
}

#synthesized_audio {
    display: none;
}

/* Default map colour */
#map {
    background-color: #006443;
    min-height: 85vh;
}

/* Define station colour on the map */
.leaflet-pane > svg path.stationRect {
    stroke: none;
    fill: #8AC97C;
    fill-opacity: 1;
    fill-rule: evenodd;
}

/* For North-South Line (Purple) */
.badge-info {
    background-color: #875F9A;
}

/* For taskbar default class */
.d-hidden {
  display: none;
}

.log-workstation {
  max-height: 100px;
  overflow-y: scroll;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #00FF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 12px;
}

.led-green-blink {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #00FF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 12px;
  -webkit-animation: blinkGreen 1s infinite;
  -moz-animation: blinkGreen 1s infinite;
  -ms-animation: blinkGreen 1s infinite;
  -o-animation: blinkGreen 1s infinite;
  animation: blinkGreen 1s infinite;
}

@-webkit-keyframes blinkGreen {
    from { background-color: #00FF00; }
    50% { background-color: #003300; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 0; }
    to { background-color: #00FF00; }
}
@-moz-keyframes blinkGreen {
    from { background-color: #00FF00; }
    50% { background-color: #003300; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 0; }
    to { background-color: #00FF00; }
}
@-ms-keyframes blinkGreen {
    from { background-color: #00FF00; }
    50% { background-color: #003300; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 0; }
    to { background-color: #00FF00; }
}
@-o-keyframes blinkGreen {
    from { background-color: #00FF00; }
    50% { background-color: #003300; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 0; }
    to { background-color: #00FF00; }
}
@keyframes blinkGreen {
    from { background-color: #00FF00; }
    50% { background-color: #003300; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #00FF00 0 2px 0; }
    to { background-color: #00FF00; }
}

.scrolltext {
    width: 85vw;
}

.hidden_star {
	display: none;
}

#taskbar {
	overflow: scroll; 
	max-height: 85vh;
}

#selStation {
	position: fixed;
}

/*
#myForm {
  visibility: hidden;
}*/